.box {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-top: 10px;
    border-style: double;
    border-width: thick;
    border-color: darkgreen;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lvBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80%;
}

h3 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

.otherPlayerIcon {
    width: 50px;
    height: 50px;
    border-style: double;
    border-width: thick;
    border-color: brown;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    line-height: 50px;
    background-color: #efe0bb;
}

#theplayerInfo {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 80%;
}

#thePlayerIcon, #theOtherPlayerIcon {
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: double;
    border-color: brown;
    border-width: thick;
    background-color: #efe0bb;
}

p {
    margin: auto;
}

#playerIconContainer {
    display: flex;
    flex-direction: row;
    
}

#deckTreasure {
    display: flex;
    flex-direction: row;
}

.selectCharacter {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}



#adventure, #treasure{
    height: 220px;
    width: 140px;
    padding: 10px;
    border: .5px solid gray;
    margin-right: 10px;
    text-align: center;
    line-height: 220px;
    border-style: double;
    border-width: thick;
    border-color: brown;
    font-size: x-large;
    background-color: #efe0bb;
}

#adventure:hover, #treasure:hover {
    font-size: xx-large;
}

body {
    max-width: 100%;
    max-height: 100%;
    background-color: burlywood;
  }

.typeOfCard, .nameOfCard, .description{
    color: black;
}

.card {
    height: 220px;
    width: 130px;
    min-width: 10em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-style: double;
    border-color: brown;
    border-width: thick;
    background-color: #efe0bb;
    border-radius: 3%;
}

.joinGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#equipBtn, #useBtn, #discardBtn, #fightBtn, #runBtn, 
#buffBtn, #debuffBtn, #cancelBtn, #sendToBtn,#sendBtn, #cancelSendBtn{
    height: 50px;
    width: 70px;
    border-style: double;
    background-color: antiquewhite;
}

#equipBtn:hover, #useBtn:hover, #discardBtn:hover, 
#fightBtn:hover, #runBtn:hover, #buffBtn:hover, 
#debuffBtn:hover, #cancelBtn:hover, #sendToBtn:hover, 
#sendBtn:hover, #cancelSendBtn:hover{
    border-width: thick;
}

btncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

#thePlayerhand {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin-right: 100px;
}

.cardWrapper {
    overflow: hidden;
}

.cardWrapper:last-child, .cardWrapper:hover {
    overflow: visible;
}

#thePlayerhand > .cardWrapper:hover,
#lootContainer > .cardWrapper:hover{
    position: relative;
    padding-right: 3px;
    padding-left: 3px;
    bottom: 30px;
}

h1 {
    text-align: center;
    margin: 15px;
}

.nameOfCard {
    text-align: center;
    font-size: x-large;
    margin-top: 25%;
}

.description {
    text-align: center;
    font-size: large;
    margin-top: 20%;
}

.playerIconOnBoard {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border-style: double;
    border-width: thick;
    border-color: brown;
    overflow: hidden;
    font-size: small;
    line-height: 35px;
    text-align: center;
    background-color: #efe0bb;
}

.iconContainer {
    display: flex;
    flex-wrap: wrap;
}


.battleFrame, .battleResult {
    /* height: fit-content;
    width: fit-content; */
    height: 250px;
    width: 50%;
    position:absolute;
    background-color:burlywood;
    top:16%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

closeBtn {
    text-align: right;
    padding-right: 5px;
    user-select: none;
}

closeBtn:hover {
    color: red;
    
}

.lootFrame {
    height: 300px;
    width: 55%;
    position:absolute;
    background-color:burlywood;
    top:30%;
    display: flex;
    flex-direction: column;
    border-style: double;
    border-width: thick;
    border-color: darkgreen;
}

#lootContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.battleResult {
    font-size: larger;
}

.hidden {
    display: none;
}

.invisiable {
    visibility: hidden;
}

.selectedCard {
    position: relative;
    overflow: visible;
    padding-right: 3px;
    padding-left: 3px;
    bottom: 30px;
}

useFrame, useFrameMessage{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:absolute;
    top: 50%;
    width: 25%;
    height: 20%;
    background-color: #efe0bb;
    border-style: double;
    border-width: thick;
    border-color: brown;
}

sendto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

sendto > .otherPlayer:hover {
    position: relative;
    bottom: 10px;
}

.selectedIcon {
    position: relative;
    bottom: 10px;
}

sendToContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 45%;
    width: auto;
    height: 25%;
    background-color: #efe0bb;
    border-style: double;
    border-width: thick;
    border-color: brown;
}

.CurseOrBuff {
    border-color: purple;
}

/* .cards {
    padding: 10px;
    border-bottom: solid gray 1px;
    display: flex;
    flex-wrap: wrap;
}

.cardPic {
    height: 70px;
    width: 100px;
}

.thePic {
    height: 230px;
    width: 160px;
}

.card > h4 {
    margin: 10px;
}

.card > text {
    font-size: 10px;
}

.card > h5 {
    margin: 5px;
}


.selected {
    border: solid red 3px;
}

.equip {
    border: solid blue 3px;
}

.box > text {
    margin: 10px;
}

.selectIcon {
    border: solid red 3px;
}

.drawsBtn {
    height: 200px;
    width: 140px;
} */